[submodule "lib/miniaudio"]
	path = lib/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "lib/vosk-api"]
	path = lib/vosk-api
	url = https://github.com/alphacep/vosk-api
[submodule "lib/rapidfuzz"]
	path = lib/rapidfuzz
	url = https://github.com/rapidfuzz/rapidfuzz-cpp
[submodule "lib/boost"]
	path = lib/boost
	url = https://github.com/boostorg/boost
