[submodule "lib/whisper.cpp"]
	path = lib/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp
[submodule "lib/miniaudio"]
	path = lib/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "lib/catch2"]
	path = lib/catch2
	url = https://github.com/catchorg/Catch2
[submodule "lib/vosk-api"]
	path = lib/vosk-api
	url = https://github.com/alphacep/vosk-api
[submodule "lib/rapidfuzz"]
	path = lib/rapidfuzz
	url = https://github.com/rapidfuzz/rapidfuzz-cpp
[submodule "lib/boost"]
	path = lib/boost
	url = https://github.com/boostorg/boost
